.filter h2{
    font-size: 24px;
    font-weight: 400;
    padding: 30px 0 40px 0;
}

.products-showcase a{
  text-decoration: none;
}
.products-showcase .card-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.products-showcase .card{
    width: calc((100% - 40px) / 4);
    padding :0;
    text-align: left;
}
.products-showcase .card img{
    width: 100%;
    height: 220px;
    object-fit:cover;
    border-radius: 0;
}
.products-showcase .card-text{
    font-weight: 500;
    font-family: var(--font1);
    letter-spacing: 1px;
    word-break: break-word;
    font-size: 16px;
}
.blog-date{
  letter-spacing: 1px;
  font-size: 12px;
}
.blog-text-info{
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;

  max-height: 6.3em;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

@media (max-width: 992px) {
  .products-showcase .container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .products-showcase .card{
    width: calc((100% - 20px) / 2);
  }
}
@media (max-width: 576px) {
  .products-showcase .card{
    width: 100%;
  }
  .products-showcase .card-list{
    margin-left: 0;
    margin-right: 0;
  }
}

