:root {
    margin: 0;
    padding: 0;
    
    --font1: 'Playfair Display', serif;
    --font2: "Roboto", sans-serif;
}
p{
  letter-spacing: 1px;
}
a{
  letter-spacing: 1px;
}
h1{
  letter-spacing: 2px;
}
h2{
  letter-spacing: 2px;
}

.font-1{
    font-family: var(--font1);
}
.font-2{
    font-family: var(--font2);
}
.text-10{
    font-size: 0.625rem;
}
.text-12{
    font-size: 0.75rem;
}
.text-14{
    font-size: 0.87rem;
}
.text-20{
    font-size: 1.25rem;
}
.text-24{
    font-size: 24px;
}
.text-gray{
    color:#858585;
}
.letter-space-2{
    letter-spacing: 2px
}
.logo{
    height: 50px;
    width: 130px;
}
@media (max-width: 576px) {
  .top-top {
    display: none !important;      
  } 
}
.card:hover .card-text{
  text-decoration: underline;
}
.card img{
  transition: transform 0.4s ease;
}
.card:hover img{
  transform: scale(1.05);
}
/* //////////////////////// */
.dropdown-item:focus,
.dropdown-item:active {
  background-color: transparent;
  color: inherit;            
}
/* //////////////////////////// */
.nav-item:hover .nav-link{
    text-decoration: underline;
    font-weight: 400;
    color: black;
}

.dropdown-menu .dropdown-item:hover{
    text-decoration: underline;
    color: black;
}
@media (max-width: 768px){
  .nav-link i{
    font-size: 14px;
  }
  .logo{
    width:100px;
    height: 40px;
  }
  .navbar-toggler{
    padding: 5px;
  }
  .navbar-toggler-icon{
    width:20px;
    height: 20px;
  }
}

@media (max-width: 576px){
  .logo{
    display: none;
  }
}
/* /////////////////////////////////////// */
.hero-section{
    background-image: url("../img/public/samurai_banner.webp");
    height: 570px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero-content{
    position: absolute;
    top: 42%;
    left: 53%;
}

.hero-content h1{
    font-size: 3rem;
}
.hero-content p{
    font-size: 1.1875rem;
}
.hero-content a{
    font-size: 1.3rem;
}
@media (max-width: 768px) {
  .hero-content {
    top: 42%;        
    left: 45%;      
  }
  .hero-content h1{
    font-size: 2.5rem;
  }
  .hero-content p{
    font-size: 1rem;
  }
  .hero-content a{
    font-size: 1.1rem;
  }
}
@media (max-width: 576px) {
  .hero-content {
    top: 42%;        
    left: 30%;
    text-align: center;      
  }
  .hero-content h1{
    font-size: 2.2rem;
  }
  .hero-content p{
    font-size: 1rem;
  }
  .hero-content a{
    font-size: 1rem;
  }
}

/* ///////////////////////////////// */
.main-collections{
    padding: 15px;
    gap:15px;
    flex-wrap: wrap;
}
.main-collections .card{
    position: relative;
    border: none;
    flex-grow: 1;
    flex-basis: 200px;
    flex-shrink: 0;
    /* width: calc((100% - 45px) / 4); */
}
.main-collections a{
    position: absolute;
    bottom: 5px;
    left:5px;

    text-decoration: none;
    font-size: 20px;
    color: #46484b;
}

/* ////////////////////////////////// */
.rings-showcase{
    padding: 15px 0;
    gap:15px;
    flex-wrap: wrap;
}
.rings-showcase .card{
    position: relative;
    border: none;
    flex-grow: 1;
    flex-basis: 230px;
    flex-shrink: 0;
}
.rings-showcase .card-details{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    
    font-size: 20px;
}
.rings-showcase .card-details a{
    color: white;
}

/* /////////////////////////////////// */
.store-showcase{
    gap:15px;
    flex-wrap: wrap;
}
.store-showcase .card{
    position: relative;
    border: none;
    flex-grow: 1;
    flex-basis: 230px;
    flex-shrink: 0;
}
.store-showcase .card-details{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: black;
    
    font-size: 20px;
}
.store-showcase .card-details a{
    color: black;
}
/* ///////////////////////////// */
.fuji{
    padding: 15px 0;
    
}
.fuji .img{
    background-image: url("../img/public/banner_fuji.webp");
    height: 270px;
    background-size: cover;
    background-position: center;
}

/* /////////////////////////////////// */
.fav{
    padding:20px;   
}
.fav h2{
    font-size: 25px;
    font-weight: 300;
    padding: 10px 70px;
}

.fav-list{
    padding :10px 70px;
    gap:15px;
    flex-wrap: wrap;
}

.fav-list .card{
    border: none;
    flex-grow: 1;
    flex-basis: 150px;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.fav-list .card img{
    height: 160px;
    width: 170px;
}
@media (max-width: 768px) {
  .fav-list{
    padding :10px 50px;
  }
}
@media (max-width: 576px) {
  .fav-list{
    padding :10px 0px;
  }
  .fav h2{
    font-size: 22px;
    padding: 0;
  }
}
/* //////////////////////// */
.treasures{
    padding:20px;   
}
.treasures h2{
    font-size: 1.5625rem;
    font-weight: 300;
    padding: 10px 70px;
}

.treasures-list{
    padding :5px 70px;
    gap:15px;
    flex-wrap: wrap;
    /* background-color: red; */
}

.treasures-list .card{
    padding:3px;
    border: none;
    flex-grow: 1;
    flex-basis: 200px;
    flex-shrink: 0;
    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: center;
}
.treasures-list .card img{
    height: 185px;
    width: 100%;
}
@media (max-width: 768px) {
  .treasures-list{
    padding :10px 50px;
  }
}
@media (max-width: 576px) {
  .treasures-list{
    padding :10px 0px;
  }
  .treasures h2{
    font-size: 22px;
    padding: 0px;
  }
}

/* ////////////////////////////////// */
.aboutus-showcase{
    padding: 15px 0;
    flex-wrap: wrap;
}
.aboutus-showcase .card{
    position: relative;
    border: none;
    flex-grow: 1;
    flex-basis: 230px;
    flex-shrink: 0;
}
.aboutus-showcase .card img{
    max-height: 510px;
}
.aboutus-showcase .card-details{
    position: absolute;
    bottom: 10px;
    left: 40px;
    color: white;
    
    font-size: 25px;
}
/* /////////////////////////////////// */

.insta h2{
    font-size: 24px;
    font-weight: 300;
}
.insta-list{
    display: flex;
    padding: 20px 0 0 0; 
    flex-wrap: wrap;
    
}
.insta-list .img{
    position: relative;
    width: calc(100% / 6);
}
.insta .insta-list .img img{
    height: 245px;
    width: 100%;
    object-fit: cover;
}
.insta .insta-list .overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(27, 28, 30, 0.5);
    opacity:0; 

    justify-content: center;
    align-items: center;
}
.insta-list .overlay i {
    color: white;      
    font-size: 20px;   
}
.insta .insta-list .img:hover .overlay{
    opacity:1;
} 

@media (max-width: 992px) {
  .insta-list .img{
    width: calc(100% / 5);
   }
}
@media (max-width: 768px) {
  .insta-list .img{
    width: calc(100% / 4);
   }
}
@media (max-width: 576px) {
  .insta-list .img{
    width: calc(100% / 2);
   }
}
/* ////////////////////////// */
.footer-bg{
    background-color: rgb(243, 243, 243);
}
.footer{
    padding: 40px;
    flex-wrap: wrap;
}
.footer h2{
    font-size: 20px;
    /* font-weight: 500; */
    font-family: var(--font1);
}
.footer a{
    text-decoration: none;
    color: #121212bf;
    font-size: 14px;
    font-family: var(--font2);
}
.footer .contact-social{
    padding-top: 40px;
    font-size: 20px;
    gap: 25px;
}
/* divider */
.divider{
    height: 0.5px;
    background-color: #d6d6d6;
}
/* /////////// */
/* footer end */
.pay-card{
    width: 45px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pay-card img{
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain
}

/* /////////////////////////// */
.myy-btn{
    padding: 10px 40px;
    background-color: #072044;
    color:white !important;

    border-radius: 0;
    text-decoration: none;
}
.register a{
    color: black;
    font-weight: 400;
    font-size: 14px;
}
.register h1{
    font-size: 32px;
}
.input{
    padding: 10px 20px;
    width: 30%;
    /* 420px; */
}
.forget-pass{
    margin-left: -260px;
}
@media (max-width: 992px) {
  .input{
    width: 40%;
    
  }
  .forget-pass{
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .input{
    width: 50%;
  }
}
@media (max-width: 576px) {
  .input{
    width: 80%;
  }
}
@media (max-width: 576px) { 
  .input{
    padding: 10px 20px;
    width: 80%;
  }
}